apiVersion: v1
kind: Namespace
metadata:
{{- if .package.metadata.namespace }}
  name: "{{.package.metadata.namespace}}"
{{- else }}
  name: apnp-test-required-params
{{- end }}
  annotations:
    package-operator.run/phase: ns